* {
    background-color: #EBEEE9;
}

h1 {
    color: green;
    margin: 0 100px;
    font-family: 'Ardolint Tijza', sans-serif;
    font-size: 70px;
    text-align: center;
}

h2 {
    margin: 50px 0px;
    font-size: 30px;
    font-family: 'Varuna', sans-serif;
    color: #5D5D5D;
    text-align: center; 
}

fieldset {
    border: 3px dashed green;
    margin: 40px 60px;
}

legend {
    font-family: 'Varuna', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 25px;
    color: #5D5D5D;
}

.bold {
    font-weight: 800;
}

 

.p {
    font-size: 18px;
}

.list{
    font-size: 20px; 
}

span{
    display: flex;
    justify-content: space-between;   
}

.accordion {
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

   
.active, .accordion:hover {
        background-color: #ccc;
    }


.panel {
    padding: 0 18px;
    max-height: 0;
    color: #444; 
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: '\02795'; 
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; 
}
